# Compilados Arduino
*.hex
*.elf
*.bin
*.eep

# Arduino build cache
*.out
*.o
*.a
*.lst
*.map
build/
cmake-build-*/

# VSCode
.vscode/
*.code-workspace

# Mac / Windows
.DS_Store
Thumbs.db

# Python (si usas notebooks para entrenamiento)
__pycache__/
*.pyc
.venv/
.env
.env.*
.venv-tflite/

# Datos grandes / temporales
data/*.tmp
data/*.log
data/*.bak

# Modelos generados
models/*.tmp

# Secrets
firmware/**/secrets.h
firmware/_secrets/*
firmware/**/arduino_secrets.h
firmware/**/config.json
!firmware/_secrets/secrets_template.h

.pio/